<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>751882563488-4e2uklfajmm7r4m2degeeu6qbrbf7v22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.751882563488-4e2uklfajmm7r4m2degeeu6qbrbf7v22</string>
	<key>API_KEY</key>
	<string>AIzaSyD23CYOItWoqzSYg92VzsZVdwjWA2RmbLk</string>
	<key>GCM_SENDER_ID</key>
	<string>751882563488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>patotoe911-gmail.com</string>
	<key>PROJECT_ID</key>
	<string>ios-labs-a2fdc</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-labs-a2fdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:751882563488:ios:054ca849ef3db52f2b7ec5</string>
	<key>DATABASE_URL</key>
	<string>https://ios-labs-a2fdc.firebaseio.com</string>
</dict>
</plist>